<div class="container py-3 d-flex flex-column flex-md-row align-items-center justify-content-between gap-4">

  <div class="order-1 order-md-3 text-center text-md-start">
    <img src="./logo.jpg" alt="" class="img-fluid" style="width: 56px; height: 56px; object-fit: contain;">
  </div>
  <h1 class="d-none d-lg-block text-center flex-grow-1 order-2 fs-4 fw-semibold m-0">
    ما هى منصة اطبع فى الاردن ؟
  </h1>
  <div class="d-none d-md-block position-relative order-3 order-md-1 ms-md-4" style="max-width: 330px; width: 100%;">

    <span class="search-icon position-absolute">

    </span>

    <input
      type="text"
      class="form-control rounded-pill search-input"
      placeholder="بحث عن المنتجات او الشركات">
  </div>

</div>

<style>
  .search-icon {
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .search-input {
    padding-left: 2.6rem !important;
    height: 42px;
  }
</style>
