<div class="flex flex-col md:flex-row items-center justify-between gap-4 p-5  z-40">

  <div class="order-1 md:order-3">
    <img src="./logo.jpg" alt="" class="w-14 h-14 object-contain mx-auto md:mx-0">
  </div>

  <h1 class="hidden md:block text-lg sm:text-xl md:text-2xl font-medium text-center flex-1 order-2 md:order-2">
    ما هى منصة اطبع فى الاردن ؟
  </h1>

  <div class="hidden md:block relative w-full max-w-sm order-3 md:order-1 md:ms-4">
    <input
      type="text"
      placeholder="بحث عن المنتجات او الشركات"
      class="w-full rounded-3xl border border-gray-300 bg-white py-2 pl-10 pr-4 text-sm
             focus:border-blue-500 focus:ring-2 focus:ring-blue-400 focus:outline-none" />

    <svg class="absolute left-3 top-1/2 h-4 w-4 -translate-y-1/2 text-gray-500"
      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 103.6 3.6a7.5 7.5 0 0013.05 13.05z" />
    </svg>
  </div>

</div>
