 <div class="bg-white mb-5 header-fixed my-0">
  <app-header></app-header>
</div>
<div class=" bg-white mt-5">
  <div class="row g-4 align-items-center">

    <div class="col-md-6 text-end">

      <img src="./Untitled-3.jpg" alt="" class="img-fluid mb-3" style="max-width: 500px;">

      <p class="text-success fw-bold fs-4 mb-3">
        منصة متخصصة بقطاع الطباعة و التغليف في الأردن
      </p>

      <p class="text-dark fw-bold text-center fs-3 mb-2">
        المنصة هي مرجع ودليل إلكتروني
      </p>

      <p class="text-danger fw-bold text-center fs-2 mb-4">
        لقطاع الطباعة والتعبئة والتغليف الأردني
      </p>

      <div class="row g-4">


        <div class="col-6 d-flex flex-column align-items-center text-center">
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none" viewBox="0 0 24 24"
               stroke-width="2" stroke="#0066CC"
               class="mb-3" width="64" height="64">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
          </svg>

          <h3 class="fw-bold fs-5 mb-2">سهولة الوصول</h3>
          <p class="text-danger mb-0">نوفر سهولة لإمكانية الوصول للمعلومات المطلوبة</p>
        </div>


        <div class="col-6 d-flex flex-column align-items-center text-center">
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none" viewBox="0 0 24 24"
               stroke-width="2.5" stroke="#0066CC"
               class="mb-3" width="64" height="64">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>

          <h3 class="fw-bold fs-5 mb-2">بيانات محدّثة</h3>
          <p class="text-danger mb-0">نقوم بالتدقيق على جميع بيانات الشركات وتحديثها</p>
        </div>

      </div>

    </div>

    <div class="col-md-6 d-flex justify-content-center justify-content-md-end mt-5">
      <img src="./e.jpg" alt="" class="img-fluid" style="max-width: 320px;">
    </div>

  </div>
</div>
