/* =============== إزالة أي فراغ من فوق نهائيًا =============== */
html, body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  overflow-x: hidden;
}

body {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

app-header {
  position: fixed;
  width:76%;
  top: 0;
  right: 0;
  z-index: 9999;
  display: block;
}





/* Responsive */
@media (max-width: 768px) {
  .page-content,
  router-outlet + * {
    padding-top: 95px !important;
  }
}
