<div class="w-92 h-screen bg-[#FFE3E3] p-4 flex flex-col">

  <!-- Top section: Menu Icon -->
  <div class="flex justify-end mb-6">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
      stroke-width="2" stroke="currentColor" class="w-7 h-7 text-black">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </div>

  <!-- Logo -->
  <div class="flex justify-center mb-8">
    <img src="./Untitled-1.jpg" alt="logo" class="w-64">
  </div>

  <!-- Buttons -->
  <div class="space-y-4">

    <!-- Button 1 -->
    <button
      class="w-full border border-black text-black font-bold py-3 px-4 flex items-center rounded-lg">
      <span class="flex-1">مطابع التعبئة والتغليف</span>

      <span class="flex items-center justify-center w-9 h-9 rounded-lg border border-black">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="2" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
        </svg>
      </span>
    </button>

    <!-- Button 2 -->
    <button
      class="w-full border border-[#568D1E] text-[#568D1E] font-bold  py-3 px-4 flex items-center rounded-lg">
      <span class="flex-1">المطابع التجارية</span>

      <span class="flex items-center justify-center w-9 h-9 rounded-lg border border-[#568D1E]">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="2" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
        </svg>
      </span>
    </button>

    <!-- Button 3 -->
    <button
      class="w-full border border-[#568D1E] text-[#568D1E] font-bold  py-3 px-4 flex items-center rounded-lg">
      <span class="flex-1">مطابع الليبل اللاصق</span>

      <span class="flex items-center justify-center w-9 h-9 rounded-lg border border-[#568D1E]">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="2" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
        </svg>
      </span>
    </button>

    <!-- Button 4 -->
    <button
      class="w-full border border-black text-black font-bold  py-3 px-4 flex items-center rounded-lg">
      <span class="flex-1">مطابع التحويلات الورقية</span>

      <span class="flex items-center justify-center w-9 h-9 rounded-lg border border-black">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="2" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
        </svg>
      </span>
    </button>

  </div>

</div>
