<div class="d-flex flex-column h-100 p-4" style="width: 23rem; background: #FFE3E3;">
  <div class="d-flex justify-content-end mb-4">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
      stroke-width="2" stroke="currentColor" width="28" height="28">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </div>
  <div class="d-flex justify-content-center mb-5">
    <img src="./Untitled-1.jpg" alt="logo" style="width: 16rem;">
  </div>
  <div class="d-flex flex-column gap-3">
    <button class="w-100 d-flex align-items-center border border-dark fw-bold py-3 px-3 rounded">
      <span class="flex-grow-1">مطابع التعبئة والتغليف</span>

      <span class="d-flex align-items-center justify-content-center"
        style="width: 36px; height: 36px; border: 1px solid #000; border-radius: 8px;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="2" stroke="currentColor" width="22" height="22">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
        </svg>
      </span>
    </button>
    <button class="w-100 d-flex align-items-center border fw-bold py-3 px-3 rounded"
      style="color: #568D1E; border-color: #568D1E;">
      <span class="flex-grow-1">المطابع التجارية</span>

      <span class="d-flex align-items-center justify-content-center"
        style="width: 36px; height: 36px; border: 1px solid #568D1E; border-radius: 8px;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="2" stroke="currentColor" width="22" height="22">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
        </svg>
      </span>
    </button>


    <button class="w-100 d-flex align-items-center border fw-bold py-3 px-3 rounded"
      style="color: #568D1E; border-color: #568D1E;">
      <span class="flex-grow-1">مطابع الليبل اللاصق</span>

      <span class="d-flex align-items-center justify-content-center"
        style="width: 36px; height: 36px; border: 1px solid #568D1E; border-radius: 8px;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="2" stroke="currentColor" width="22" height="22">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
        </svg>
      </span>
    </button>

    <button class="w-100 d-flex align-items-center border border-dark fw-bold py-3 px-3 rounded">
      <span class="flex-grow-1">مطابع التحويلات الورقية</span>

      <span class="d-flex align-items-center justify-content-center"
        style="width: 36px; height: 36px; border: 1px solid #000; border-radius: 8px;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="2" stroke="currentColor" width="22" height="22">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
        </svg>
      </span>
    </button>

  </div>

</div>
