<div class="d-flex flex-column h-100 p-4" style="width: 23rem; background: #FFE3E3;">

  <div class="d-flex justify-content-end mb-4">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
      stroke-width="2.5" stroke="currentColor" width="32" height="32">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </div>

  <div class="d-flex justify-content-center mb-5">
    <img src="./Untitled-1.jpg" alt="logo" style="width: 16rem;">
  </div>

  <div class="d-flex flex-column gap-3">

    <!-- زر التعبئة والتغليف -->
    <button class="w-100 d-flex align-items-center border border-dark fw-bold py-3 px-3 rounded">
      <span class="flex-grow-1">مطابع التعبئة والتغليف</span>

      <span class="d-flex align-items-center justify-content-center">
        <img src="./arrow.png" alt="arrow" style="width: 26px; height: 26px;">
      </span>
    </button>

    <!-- زر المطابع التجارية -->
    <button class="w-100 d-flex align-items-center border fw-bold py-3 px-3 rounded"
      style="color: #568D1E; border-color: #568D1E;">
      <span class="flex-grow-1">المطابع التجارية</span>

      <span class="d-flex align-items-center justify-content-center">
        <img src="./arrow.png" alt="arrow" style="width: 26px; height: 26px;">
      </span>
    </button>

    <!-- زر الليبل اللاصق -->
    <button class="w-100 d-flex align-items-center border fw-bold py-3 px-3 rounded"
      style="color: #568D1E; border-color: #568D1E;">
      <span class="flex-grow-1">مطابع الليبل اللاصق</span>

      <span class="d-flex align-items-center justify-content-center">
        <img src="./arrow.png" alt="arrow" style="width: 26px; height: 26px;">
      </span>
    </button>

    <button class="w-100 d-flex align-items-center border border-dark fw-bold py-3 px-3 rounded">
      <span class="flex-grow-1">مطابع التحويلات الورقية</span>

      <span class="d-flex align-items-center justify-content-center">
        <img src="./arrow.png" alt="arrow" style="width: 26px; height: 26px;">
      </span>
    </button>

  </div>

</div>
