<div class="d-flex vh-100">

  <!-- Sidebar -->
  <div class="d-none d-md-block" style="width: 23rem;">
    <app-side-bar></app-side-bar>
  </div>

  <!-- Main content container -->
  <div class="d-flex flex-column flex-grow-1 overflow-auto">

    <!-- Sticky Header -->
    <!-- <div class="bg-white shadow position-sticky top-0 mb-2" style="height: 64px; z-index: 100;">
      <app-header></app-header>
    </div> -->

    <!-- Page Content -->
    <div class="pt-4">
      <app-content></app-content>
    </div>

  </div>

</div>
